<div class="container mx-auto p-4"
    *ngIf="productForm">
    <div class="flex justify-between items-center mb-4">
        <a routerLink="/products"
            class="bg-red-500 text-white p-2 rounded inline-block h-12 flex items-center justify-center">
            Go Back
        </a>
        <button type="submit"
            [disabled]="productForm.invalid"
            (click)="onSubmit()"
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded h-12 disabled:opacity-50 disabled:cursor-not-allowed">
            Save
        </button>
    </div>
    <form [formGroup]="productForm"
        (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label for="name">Name: *</label>
            <input id="name"
                formControlName="name"
                class="border p-2 rounded w-full" />
        </div>
        <div class="mb-2">
            <label for="description">Description: *</label>
            <input id="description"
                formControlName="description"
                class="border p-2 rounded w-full" />
        </div>
        <div class="mb-2">
            <label for="sku">SKU: *</label>
            <input id="sku"
                formControlName="sku"
                class="border p-2 rounded w-full" />
        </div>
        <div class="mb-2">
            <label for="cost">Cost:</label>
            <input id="cost"
                formControlName="cost"
                type="number"
                class="border p-2 rounded w-full" />
        </div>
        <div formGroupName="profile">
            <div class="mb-2">
                <label for="type">Type:</label>
                <select id="type"
                    formControlName="type"
                    class="border p-2 rounded w-full">
                    <option value="furniture">Furniture</option>
                    <option value="equipment">Equipment</option>
                    <option value="stationary">Stationary</option>
                    <option value="part">Part</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="available">Available:</label>
                <input id="available"
                    type="checkbox"
                    formControlName="available"
                    class="border p-2 rounded ml-1" />
            </div>
            <div class="mb-2">
                <label for="backlog">Backlog:</label>
                <input id="backlog"
                    formControlName="backlog"
                    type="number"
                    class="border p-2 rounded w-full" />
            </div>
        </div>
    </form>
</div>