<div [formGroup]="customPropertiesForm">
    <div formArrayName="properties"
        class="my-2">
        @for(property of propertiesArray.controls; track property; let i = $index) {
        <div [formGroupName]="i"
            class="mb-2">
            <input formControlName="key"
                class="border p-2 rounded"
                placeholder="Key"
                (change)="onPropertyChange()" />
            <input formControlName="value"
                placeholder="Value"
                class="border p-2 rounded"
                (change)="onPropertyChange()" />
            <button type="button"
                class="bg-red-500 text-white p-2 rounded ml-2"
                (click)="removeProperty(i)">Remove</button>
        </div>
        }
    </div>
    <button type="button"
        class="bg-green-500 text-white p-2 rounded mb-2"
        (click)="addProperty()">Add Property</button>
</div>